*,
a {
  font-family: 'Nunito', sans-serif;
  color: #777777;
}
body {
  background-color: #f7f7f7;
}
.container {
  max-width: 1200px !important;
}
.cart-header {
  height: 4rem;
  margin-bottom: 1rem;
}
.cart-header a {
  text-decoration: none;
}
.cart-header .back img {
  height: 25px;
  margin-top: 1.5rem;
  float: left;
  padding-right: 10px;
}
.cart-header .back p {
  padding-top: 1.45rem;
  font-size: 1.1rem ;
  color: #222222;
}
.cart-header .cancel img {
  height: 25px;
  margin-top: 1.5rem;
  float: right;
}
.cart .fotorama__wrap {
  margin: 0 auto;
}
.cart .cart-text h1 {
  display: block;
  font-size: 30px;
  margin-bottom: 1.5rem;
}
.cart .cart-text span {
  display: block;
  font-size: 25px;
  color: #222222;
  margin-bottom: 1.5rem;
}
.cart .cart-text button {
  display: block;
  padding: 0;
  border: 3px solid #58a93c;
  border-radius: 25px;
  padding: 6px 18.5px;
  font: inherit;
  color: #222222;
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
  margin-bottom: 1.5rem;
}
.cart .cart-text p {
  display: block;
  font-size: 1.1rem;
}
.cart .cart-text .cart-text__features ul.features-list li {
  clear: both;
}
.cart .cart-text .cart-text__features ul.features-list li span:first-child {
  float: left;
  padding: 0 0em 0 0;
  margin: 0;
}
.cart .cart-text .cart-text__features ul.features-list li span + span {
  float: right;
  padding: 0 0 0 0em;
  margin: 0;
}
.cart .cart-text .cart-text__features ul.features-list li:after {
  content: "";
  display: block;
  overflow: hidden;
  height: 1em;
  border-bottom: 1.3px dotted #c8c8c8;
}
.cart .cart-text .cart-text__features h3 {
  font-size: 20px;
  color: #222222;
}
.cart .cart-text .cart-text__features ul {
  padding-top: 0.6rem;
  list-style-type: none;
  padding-left: 0.8rem;
}
.cart .cart-text .cart-text__features ul li {
  margin-bottom: 1rem;
  padding: 0;
  padding-right: 1rem;
  border: none;
}
.cart .cart-text .cart-text__features ul li .label {
  font-size: 15px;
  margin-bottom: 0;
  padding: 1px;
  float: left;
  color: #222222;
}
.cart .cart-text .cart-text__features ul li .value {
  font-size: 15px;
  margin-bottom: 0;
  padding: 1px;
  float: right;
  color: #777777;
}
.header {
  height: 92px;
  background-color: #f7f7f7;
}
.header button {
  border-radius: 12px;
  font-weight: 600;
  border: 3px solid #58a93c;
  color: #000;
  background: #fff;
}
.header-content__logo {
  margin-top: 20px;
}
.header-content__logo span {
  color: #222222;
  font-size: 2.3rem;
  font-weight: bold;
}
.header-content__logo span strong {
  color: #58a93c;
}
.header-content__nav nav {
  padding-top: 35px;
}
.header-content__nav nav a {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  padding-right: 2rem;
  color: #222222;
  text-transform: uppercase;
}
.header-content__nav nav a:hover {
  color: #58a93c;
}
.header-content__items {
  position: relative;
  margin-top: 1.2em;
}
.header-content__fullprice {
  position: absolute;
  top: 0.4em;
  right: 0.6em;
  color: #000;
  font-weight: 700;
}
.header-content__p {
  position: absolute;
  left: 40px;
  background: #58a93c;
  font-weight: 700;
  border-radius: 50%;
  line-height: 18.5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 10px;
  margin-right: 1.2em;
  min-width: 18px;
  height: 18px;
  color: #fff;
}
.header-content__cart {
  position: relative;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 12px;
  padding: 0.4em 0;
}
.header-content__cart i {
  font-size: 1.3em;
  color: #58a93c;
  margin-right: 2em;
  padding-left: 0.7em;
}
.header-content__cart span {
  font-size: 1.1em;
  font-weight: 600;
  color: #000;
}
.cart-content {
  display: none;
  height: 70vh;
  width: 600px;
  max-width: 100%;
  font-weight: 600;
  background: #FAFAFA;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}
.cart-content__title {
  padding: 1.1em 0;
  font-size: 23px;
}
.cart-content__item {
  list-style-type: none;
  background: #fff;
  margin: 0 0.5em 0.5em 0.5em;
}
.cart-content__product {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-content__product p {
  margin-top: 1.5rem;
}
.cart-content__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.cart-content__fullprice {
  margin-bottom: 0.8em;
  display: flex;
  flex-direction: column;
}
.cart-content .fullprice {
  font-weight: 700;
  font-size: 23px;
}
.cart-content__btn {
  font-size: 1.2em;
  width: 246px;
  height: 55px;
  line-height: 1.5;
  background: #FAFAFA;
}
.cart-content-block.active {
  display: block;
}
.cart-content-close:hover .cart-content-close__item:before {
  background: #fff;
}
.cart-content-close:hover .cart-content-close__item:after {
  background: #fff;
}
.cart-content-close {
  position: absolute;
  top: 25px;
  right: 18px;
}
.cart-content-close__item {
  border-radius: 50%;
  width: 32px;
  height: 31px;
}
.cart-content-close__item:before,
.cart-content-close__item:after {
  justify-content: center;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: 0.85em;
  display: block;
  margin: 0 auto;
  z-index: 1;
  transition: transform .2s linear;
  transform: rotate(-45deg) translateX(0px);
}
.cart-content-close__item:before {
  transform: rotate(45deg) translateX(0px);
}
.cart-content-close__item:after {
  transform: rotate(-45deg) translateX(0px);
}
.cart-product__text {
  padding-top: 1em;
  width: 13em;
}
.cart-product__img {
  max-width: 100px;
  min-height: 100px;
  object-fit: cover;
}
.cart-product__weight {
  display: inline-block;
}
.cart-product__actions {
  display: flex;
  align-items: center;
  margin-left: -10em;
  margin-top: 2.5em;
}
.cart-product__quantity {
  padding: 0 0.7em;
}
.cart-product__price {
  font-size: 20px;
}
.cart-product-delete {
  position: relative;
}
.cart-product-delete__item {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 1.4em;
  display: flex;
  margin-right: 0.5em;
  width: 27px;
  height: 27px;
}
.cart-product-delete__item:before,
.cart-product-delete__item:after {
  content: "";
  width: 12px;
  height: 12px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 13px;
  left: 8px;
  z-index: 1;
  transition: transform .2s linear;
  transform: rotate(-45deg) translateX(0px);
}
.cart-product-delete__item:before {
  transform: rotate(45deg) translateX(0px);
}
.cart-product-delete__item:after {
  transform: rotate(-45deg) translateX(0px);
}
.modals-content {
  display: none;
  left: 50%;
  transform: translateX(-50%);
  width: 550px;
}
.modals-content.active {
  display: block;
}
#modals-content__thank {
  text-align: center;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
}
#footer {
  margin-top: 50rem;
}
#close {
  font-size: 1.2em;
  width: 100%;
  height: 55px;
  line-height: 1.5;
  background: #FAFAFA;
}
.modals-content__thank.acive {
  display: block;
}
.order {
  padding: 0 40px;
}
.order__label {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}
.order__input {
  width: 240px;
  height: 45px;
  background: #F0F0F0;
  border-radius: 4px;
  border: none;
}
.order__input::placeholder {
  color: #5F5F5F;
}
.order__btn {
  margin: 15px 0;
  width: 100%;
}
.order-modals__info {
  margin-bottom: 20px;
  border: 1px solid #C7262C;
  padding: 34px 40px;
  font-size: 1.1em;
  font-weight: 400;
}
.order-modals__info button {
  font-size: 1.1em;
  font-weight: 400;
  border: none;
  background: transparent;
  padding: 0;
}
.order-modals__info button:hover {
  color: #000;
  font-weight: 400;
}
.order-modals__info-item:not(:last-child) {
  margin-bottom: 15px;
}
.order-modals__info span {
  font-weight: 600;
}
.order-modals__btn {
  position: relative;
}
.order-modals__btn.open:after {
  transform: translateY(-50%) rotate(180deg);
}
.order-modals__btn:after {
  content: "";
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  background: url(../img/vector.png) center no-repeat;
  background-size: cover;
}
.order-modals__list {
  padding: 20px 0;
  display: none;
}
.order-modals__body {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 1em 0;
}
.order-modals__thank {
  padding: 0.5em 8em;
  font-size: 1.2em;
  width: 100%;
  height: 55px;
  line-height: 1.5;
  border: 2px solid #C7262C;
  border-radius: 12px;
}
.order-modals__thank:hover {
  background: #C7262C;
  color: #fff;
}
.order__item:not(:last-child) {
  margin-bottom: 14px;
}
.order-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}
.order-product button {
  border: 2px solid #C7262C;
}
.order-product__info {
  display: flex;
  align-items: center;
}
.order-product__img {
  max-width: 80px;
  max-height: 80px;
  object-fit: cover;
  margin-right: 10px;
}
.order-product__title {
  font-weight: 400;
  margin-bottom: 5px;
  max-width: 145px;
}
.order-product__price {
  font-weight: 700;
}
.green-li {
  padding-left: 1rem;
  background-color: #58a93c;
  border-radius: 7px 7px 0 0;
  border: none;
  list-style-type: none;
}
.green-li img {
  height: 20px;
}
.green-li a {
  padding-left: 0.5rem;
  color: #FFF;
}
li {
  padding: 13.8px ;
  border-bottom: 0.5px dashed #E7E7E7;
}
li a {
  text-decoration: none;
}
.main {
  padding-bottom: 2.5rem;
}
.main-content__lefter__categories ul {
  background-color: #fff;
  padding-left: 0;
  list-style-type: none;
}
.main-content__lefter__categories ul li {
  padding: 13.8px ;
  border-bottom: 0.5px dashed #E7E7E7;
}
.main-content__lefter__categories ul li a {
  transition: 0.3s;
  text-decoration: none;
}
.main-content__lefter__categories li:hover a {
  color: #58a93c !important;
}
.main-content__lefter__bestsellers {
  background-color: #fff;
  margin-bottom: 1.8rem;
}
.main-content__lefter__bestsellers .bestsellers-content {
  padding: 20px;
}
.main-content__lefter__bestsellers .bestsellers-item {
  height: 80px ;
  margin-bottom: 30px;
  transition: all 1s ease;
}
.main-content__lefter__bestsellers .bestsellers-item img {
  float: left;
  display: inline-block;
  width: 66px;
  height: 66px;
  object-fit: cover;
  padding-right: 12px;
  transition: all 0.5s ease;
}
.main-content__lefter__bestsellers .bestsellers-item .bestsellers-item__description {
  width: 150px;
  display: inline-block;
}
.main-content__lefter__bestsellers .bestsellers-item .bestsellers-item__description h4 {
  margin-bottom: 5px;
  font-size: 15px;
}
.main-content__lefter__bestsellers .bestsellers-item .bestsellers-item__description p {
  font-size: 13px;
  padding-bottom: 0;
  margin-bottom: 5px;
}
.main-content__lefter__bestsellers .bestsellers-item .bestsellers-item__description span {
  color: #222222;
  font-weight: 600;
}
.main-content__lefter__bestsellers .bestsellers-item:hover img {
  transform: scale(1.1);
}
.main-content__lefter__viewport a img {
  width: 100%;
}
.main-content .main-content__mainer .accordion {
  display: none;
}
.main-content .main-content__mainer .accordion ul {
  background-color: #fff;
  padding-left: 0;
  list-style-type: none;
}
.main-content .main-content__mainer .accordion ul li {
  padding: 13.8px ;
  border-bottom: 0.5px dashed #E7E7E7;
}
.main-content .main-content__mainer .accordion ul li a {
  transition: 0.3s;
  text-decoration: none;
}
.main-content .main-content__mainer__banner img {
  width: 100%;
  margin-bottom: 1rem;
}
.main-content .main-content__mainer__banner p {
  font-size: 16.5px;
}
.main-content .main-content__mainer .category-name h1 {
  font-size: 30px;
  color: #222222;
  margin-bottom: 2rem;
  margin-top: 0rem;
}
.main-content .main-content__mainer__products .dostavka-text p,
.main-content .main-content__mainer__products .text-about p {
  font-size: 18px;
  color: #222222;
}
.main-content .main-content__mainer__products .images-about img {
  height: 200px;
  object-fit: contain;
  background-position: right;
}
.main-content .main-content__mainer__products .product-wrap {
  display: none;
}
.main-content .main-content__mainer__products .product-a {
  text-decoration: none;
}
.main-content .main-content__mainer__products .product-item {
  background-color: #fff;
  margin-bottom: 30px;
  overflow: hidden;
  transition: all 0.5s ease-out;
}
.main-content .main-content__mainer__products .product-item img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  transition: all 0.3s ease-out;
}
.main-content .main-content__mainer__products .product-item__caption {
  width: 270px;
  padding: 20px;
  max-width: 100%;
}
.main-content .main-content__mainer__products .product-item__caption h3 {
  font-size: 16px;
}
.main-content .main-content__mainer__products .product-item__caption p {
  font-size: 14px;
}
.main-content .main-content__mainer__products .product-item__caption span {
  display: block;
  margin-bottom: 13px;
  color: #222222;
  font-weight: 600;
  font-size: 16px;
}
.main-content .main-content__mainer__products .product-item__caption button {
  display: block;
  padding: 0;
  border: 2px solid #EBEBEB;
  border-radius: 25px;
  padding: 6px 18.5px;
  font: inherit;
  color: #222222;
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
  transition: all 0.4s ease;
}
.main-content .main-content__mainer__products .product-item__caption button:hover {
  border: 2px solid #222222;
  background: #222222;
  color: #FFF;
  font-weight: 400;
}
.main-content .main-content__mainer__products .product-item:hover {
  box-shadow: 0 0 20px 2px #E2E2E2;
}
.main-content .main-content__mainer__products .product-item:hover img {
  transform: scale(1.015);
}
.main-content .main-content__mainer__pagination .load-more span {
  display: none;
}
.main-content .main-content__mainer__pagination button {
  float: right;
  display: block;
  padding: 0;
  border: 3px solid #58a93c;
  border-radius: 25px;
  padding: 6px 18.5px;
  font: inherit;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background-color: #58a93c;
  transition: all 0.4s ease;
}
.main-content .main-content__mainer__pagination button:hover {
  border: 3px solid #222222;
  background: #222222;
  color: #FFF;
}
.main-content .accordion {
  display: none;
}
.footer {
  padding: 30px 0;
  background-color: #fff;
}
.footer h5 {
  color: #222222;
}
.footer a,
.footer p {
  padding: 4px 0;
  text-decoration: none;
  display: block;
  font-size: 16px;
}
.footer-contact p {
  margin: 0;
}
footer {
  background-color: #222222;
  padding-top: 1rem;
}
footer .year p {
  text-align: center;
}
footer p {
  color: #fff !important;
}
footer a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
footer .developer p {
  float: right;
}
@media (max-width: 992px) {
  .cart-text {
    text-align: center;
  }
  .cart-text h1 {
    margin-top: 1.5rem;
  }
  .cart-text button {
    margin: 0 auto;
  }
  .main-content__lefter li a {
    font-size: 12px;
  }
}
@media (max-width: 1150px) {
  .main-content .product-item img {
    height: 220px;
  }
  .main-content .bestsellers-content img {
    height: 50px;
    width: 50px;
  }
  .main-content .bestsellers-content .bestsellers-item__description {
    width: 120px;
  }
  .main-content .bestsellers-content .bestsellers-item__description h4 {
    font-size: 11px;
  }
  .main-content .bestsellers-content .bestsellers-item__description p {
    font-size: 10px;
  }
}
@media (max-width: 992px) {
  .main-content .product-item img {
    height: 190px;
    text-align: center;
  }
  .header-content__nav a {
    font-size: 15px !important;
    padding-right: 0.5rem !important;
  }
  .header-content__logo span {
    font-size: 30px !important;
    padding-right: 0.5rem !important;
  }
  .main-content__mainer__button p {
    font-size: 12px !important;
  }
  .main-content .main-content__mainer__banner p {
    font-size: 13px !important;
  }
  .product-item img {
    height: 180px !important;
  }
  .bestsellers-content img {
    height: 50px;
    width: 50px;
  }
  .bestsellers-content .bestsellers-item__description {
    width: 120px;
  }
  .bestsellers-content .bestsellers-item__description h4 {
    font-size: 11px;
  }
  .bestsellers-content .bestsellers-item__description p {
    font-size: 10px;
  }
  .bestsellers-item__description {
    width: 80px !important;
  }
  .bestsellers-item__description h4 {
    font-size: 8px !important;
  }
  .bestsellers-item__description p {
    font-size: 7px !important;
  }
  .bestsellers-item__description span {
    font-size: 13px;
  }
  .main-content__lefter__bestsellers .bestsellers-item {
    height: 80px;
    margin-bottom: 10px;
  }
  .product-item__caption h3 {
    font-size: 12px !important;
  }
  .product-item__caption p {
    font-size: 10px !important;
  }
}
@media (max-width: 768px) {
  .main-content .main-content__mainer__products .product-item {
    width: 210px;
    margin: 1rem auto !important;
    margin-bottom: 2rem;
  }
  .main-content .main-content__mainer__products .product-item__caption {
    width: 210px;
    margin: 0 !important;
  }
  .accordion-bestsellers {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  .main-content__lefter {
    display: none;
  }
  .accordion {
    display: block !important;
    margin-bottom: 2rem;
  }
  .accordion .accordion-button {
    background-color: #58a93c;
    border-radius: 7px 7px 0 0;
    border: none;
    list-style-type: none;
  }
  .accordion .accordion-button img {
    height: 20px;
  }
  .accordion .accordion-button a {
    text-decoration: none;
    padding-left: 0.5rem;
    color: #FFF;
  }
  .accordion ul {
    background-color: #fff;
    padding-left: 0;
    list-style-type: none;
  }
  .accordion ul li {
    padding: 13.8px ;
    border-bottom: 0.5px dashed #E7E7E7;
  }
  .accordion ul li a {
    transition: 0.3s;
    text-decoration: none;
  }
  .accordion .bestsellers-item {
    height: 80px  !important;
    margin-bottom: 30px !important;
    transition: all 1s ease;
  }
  .accordion .bestsellers-item img {
    float: left;
    display: inline-block;
    width: 66px !important;
    height: 66px !important;
    object-fit: cover;
    padding-right: 12px;
    transition: all 0.5s ease;
  }
  .accordion .bestsellers-item .bestsellers-item__description {
    width: 150px !important;
    display: inline-block;
  }
  .accordion .bestsellers-item .bestsellers-item__description h4 {
    margin-bottom: 5px !important;
    font-size: 15px !important;
  }
  .accordion .bestsellers-item .bestsellers-item__description p {
    font-size: 13px !important;
    padding-bottom: 0;
    margin-bottom: 5px;
  }
  .accordion .bestsellers-item .bestsellers-item__description span {
    font-size: 14px;
    color: #222222;
    font-weight: 600;
  }
  .accordion .header-content__nav {
    display: none;
  }
}
@media (max-width: 768px) and (max-width: 576px) {
  .main-content .main-content__mainer__products .product-item {
    width: 310px !important;
  }
  .main-content .main-content__mainer__products .product-item img {
    height: 310px !important;
    object-fit: cover;
  }
  .main-content .main-content__mainer__products .product-item__caption {
    width: 310px !important;
    padding: 20px !important;
  }
  .main-content .main-content__mainer__products .product-item__caption h3 {
    font-size: 18px !important;
  }
  .main-content .main-content__mainer__products .product-item__caption p {
    font-size: 16px !important;
  }
  .main-content .main-content__mainer__products .product-item__caption span {
    display: block;
    margin-bottom: 13px;
    color: #222222;
    font-weight: 600;
    font-size: 18px !important;
  }
  .main-content .main-content__mainer__products .product-item__caption button {
    display: block;
    padding: 0;
    border: 2px solid #EBEBEB;
    border-radius: 25px;
    padding: 6px 18.5px;
    font: inherit;
    color: #222222;
    font-size: 18px !important;
    font-weight: 600;
    background-color: transparent;
  }
  .main-content .main-content__mainer__pagination button {
    margin: 0 auto;
    float: none;
    padding: 9px 21px;
    font-size: 21px;
  }
}
@media (max-width: 768px) and (max-width: 400px) {
  .header-content__logo span {
    font-size: 25px !important;
  }
}
